*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{
background:#fff;
color:#333;
line-height:1.6;
font-style: poppins, sans-serif;
}

/* NAVBAR */

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:white;
box-shadow:0 3px 10px rgba(0,0,0,0.05);
position:sticky;
top:0;
z-index:100;
}
.navbar-nav{
    position: relative;
}

ul{
  margin-left: auto!important;
  margin-right: 80px!important;

}
.nav-item{
    margin-right: 20px;
    font-size: 17px;
    color: #f3a6c8!important;
    position: relative;
}
.nav-item a{
    color: #f3a6c8!important;
    text-decoration: none;
    font-weight: 200;
    transition:color .3s;
    padding-bottom: 5px;
}
.nav-item a:hover{
    color: #e52a81!important;
}

.nav-item a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #e52a81;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-item a.active::after,
.nav-item a:hover::after {
  width: 50%; 
}
/* toggle button */
.navbar-toggler {
   border: none; /* remove border */
  outline: none !important; /* remove outline */
  box-shadow: none !important; 
}

.navbar-toggler-icon {
  background-image: none; /* remove default icon */
  width: 24px;
  height: 2px;
  background-color: #f3a6c8;
  position: relative;
  transition: all 0.3s ease;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #f3a6c8;
  left: 0;
  transition: all 0.3s ease;
}

.navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler-icon::after {
  top: 8px;
}

/* when menu is open, turn into cross */
.navbar-toggler.collapsed .navbar-toggler-icon {
  background-color: transparent;
}

.navbar-toggler.collapsed .navbar-toggler-icon::before {
  transform: rotate(45deg);
  top: 0;
}

.navbar-toggler.collapsed .navbar-toggler-icon::after {
  transform: rotate(-45deg);
  top: 0;
}


/* HERO */

.hero{
background:linear-gradient(rgba(0,0,0,.35),rgba(0, 0, 0, 0.482)),
url("/images/lashedbg.jpg");
background-size:cover;
background-position:center;
height:80vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
color:white;
padding:0 20px;
min-height: 100vh;
}
.hero div{
    opacity: 0;
    transform: translateY(20px); /* slight slide up */
    animation: fadeInUp 2.5s ease forwards;

}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero h1{
font-size:55px;
}

.hero span{
color:#f3a6c8;
}

.hero p{
margin:15px 0 25px;
font-size:20px;
}

/* BUTTON */

.button{
display:inline-block;
padding:14px 30px;
background:#e52a8193;
color:white;
border-radius:8px;
text-decoration:none;
font-weight:600;
transition:.3s;
}

.button:hover{
background:#e38fb6c0;
}

/* SECTIONS */

section{
padding:80px 8%;
}

h2{
text-align:center;
margin-bottom:40px;
color:#e273a3;
}

/* SERVICES */

.services{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
}

.card{
background:white;
padding:15px;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,0.08);
text-align:center;
transition:.3s;
}

.card:hover{
transform:translateY(-5px);
}
.card h3{
    font-size: 16px;
    font-weight: 600;
}
.card p{
    font-size: 15px;
    font-weight: 300;
}

/* GALLERY */
#gallery{
    margin-top: 60px;
}
#gallery h2{
    margin-bottom: 50px;
}
.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:15px;
}

.gallery img{
width:100%;
height:230px;
object-fit:cover;
border-radius:10px;
}
.gallery h2{
    text-align: center;
    justify-content: center;
    margin-bottom: 100px;
    align-items: center;
}

/* BEFORE AFTER */
#before{
    margin-top: 40px;
}
#before h2{
    margin-bottom: 50px;
}
.beforeafter{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.beforeafter img{
width:100%;
border-radius:10px;
}

/* PRICE LIST */
#prices{
    background-image: url(/images/price-list.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 30px;
    
}

.price-list{
max-width:600px;
margin:auto;
display:grid;
grid-template-columns:1fr 1fr;
gap:10px 20px;
text-align: center;
}

.price-list b{
grid-column:1/-1;
margin-top:20px;
color: #333;
font-size: 18px;
}
.price-list span{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}

/* TESTIMONIALS */

 #section {
    text-align: center;
    background: #fff;
    padding: 40px;
    margin-top: 40px;
  }

  #section h2 {
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    margin-bottom: 30px;
  }

  .slider-wrapper {
    position: relative;
    width: 80%;
    margin: auto;
    min-height: 120px; /* ensures space stays consistent */
  }
.review {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    background: #ffe4e1;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Georgia', serif;
  }

  .review.active {
    opacity: 1;
    position: relative;
  }

  .review p {
    font-size: 1.2em;
    color: #333;
  }
    .review b {
    display: block;
    margin-top: 10px;
    color: #d87093;
  }


/* BOOKING */

.booking{
background:#f8d7e8;
padding:40px;
border-radius:12px;
text-align:center;
}

.booking form{
max-width:500px;
margin:auto;
display:flex;
flex-direction:column;
gap:15px;
}

.booking input{
padding:12px;
border:1px solid #ddd;
border-radius:6px;
}
.booking textarea{
  padding:12px;
  border:1px solid #ddd;
  border-radius:6px;
  resize: vertical;
}

#form-status{
margin-top:10px;
font-weight:500;
font-size:14px;
}
/* MAP */

.map iframe{
width:100%;
height:350px;
border:0;
border-radius:10px;
}

/* FOOTER */

footer{
text-align:center;
padding:25px;
background:#f8d7e8;
margin-top:40px;
}

/* WHATSAPP BUTTON */

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
padding:14px 18px;
border-radius:50px;
font-weight:600;
text-decoration:none;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

/* MOBILE */

@media(max-width:700px){

.hero h1{
font-size:36px;
}

nav ul{
display:none;
}

}


@media (min-width: 992px) {
  .nav-item {
    position: relative;
  }

  .nav-item a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #e52a81;
    transition: all 0.3s ease;
    transform: translateX(-50%);
  }

  .nav-item a.active::after,
  .nav-item a:hover::after {
    width: 50%;
  }
}

@media (max-width: 991px) {
  .hero{
    margin-top: 80px;
    padding: 0 20px;
    text-align: center;
  }
   .hero h1 {
    font-size: 28px;    /* scale heading down */
    line-height: 1.3;   /* improve readability */
  }

  .hero p {
    font-size: 16px;
    margin-top: 10px;
  }

 



  .nav-item {
    border-bottom: 1px solid #f3a6c8;
    text-align: center;
    margin: 0; /* remove side spacing */
  }

  .nav-item a {
    display: block;
    padding: 12px;
  }

  .nav-item a.active {
    background-color: #ffe4e1; /* light pink highlight */
    border-radius: 5px;
  }
}
